# These are the env vars for my own tools
# Other env vars live in bashrc

# associated with ,n
export NOTES_DIR=/home/joe/Documents/notes
# associated with ,j
# on non-personal machines notes is for work notes
# and journal is for personal notes
export JOURNAL_DIR=/home/joe/Documents/journal
# associated with git hooks
export GLOBAL_PYTHON_VENV=/home/joe/code/.venv
# associated with ,b
export BOOKMARK_FILE=/home/joe/bin/bookmarks.csv
# associated with ,sc and ,rc
export COMMANDS_LIST_FILE=/home/joe/bin/commands.csv
# associated with ,ssg
export BLOG_TEMPLATE_FILE=/home/joe/bin/blog-template.html
# associated with ,sync-spell
export VSCODE_SETTINGS_FILEPATH=/home/joe/.config/Code/User/settings.json
export VIM_SPELL_FILEPATH=/home/joe/.vim/spell/en.utf-8.add
# associated with ,s
export THUNDERBIRD_DICT=/home/joe/.thunderbird/<profile>/persdict.dat
export FZF_DEFAULT_COMMAND='rg --files --hidden --glob "!.git"'
export BW_SESSION=""
export MCFLY_LIGHT=""
export BAT_THEME="gruvbox-light"
export VIM_GRUVBOX_BACKGROUND="dark"
