# These are the env vars for my own tools
# Other env vars live in bashrc

# associated with ,n
export NOTES_DIR="$HOME/Documents/notes"
# associated with ,s
export VIM_SPELL_FILEPATH="$HOME/.vim/spell/en.utf-8.add"
export THUNDERBIRD_DICT="$HOME/.thunderbird/<profile>/persdict.dat"
export FZF_DEFAULT_COMMAND='rg --files --hidden --glob "!.git"'
export BW_SESSION=""
export MCFLY_LIGHT=""
export BAT_THEME="gruvbox-light"
export VIM_GRUVBOX_BACKGROUND="dark"
